<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">My Home Appliances</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Add
          New<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Serialno,Brand,Model" name="searchtext"
        [(ngModel)]="searchtext" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)=search()>Search</button>
    </form>
  </div>
</nav>

<div class="divider"></div>

<div class="row">
  <div class="col-xl-auto">
    <app-filter-appliance></app-filter-appliance>
  </div>
  <div class="col">
    <app-appliance-list></app-appliance-list>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Appliance</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <app-add-new-appliance [userId]="userId" [newSubmit]="newSubmit"></app-add-new-appliance>
    </div>
  </div>
</div>